:root {
    --font-light: #F7F3F5;
    --font-dark: black;
    --background-light: #779FA1;
    --background-dark: #022F40;
    --highlight: #F2BB05;
}

a {
    text-decoration: none;
    color: var(--font-light)
}

body {
    display: grid; 
    grid-template-columns: 0.5fr 5.5fr; 
    grid-template-rows: 0.5fr 4.5fr; 
    gap: 15px; 
    grid-template-areas: 
      "nav header"
      "nav body"; 
    width: 100vw;
    font-family: Georgia, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-color: var(--background-dark);
  padding: 0 4%;
  color: var(--font-light);
  border: 0.5em solid var(--background-light);
}

h1 {
    font-size: 70px;
    margin: 1rem auto;
}

.header-subclass {
    width: 50%;
}

.header-subclass > img {
    width: 40%;
    margin: 1rem 0;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 5px var(--highlight);
}

#main-header-right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 4rem;
}

#main-nav {
  position: sticky;
  grid-area: nav;
  padding-right: 1em;
  background-color: var(--background-dark);
  color: var(--font-light);
  border: 0.5em solid var(--background-light);
  width: 100%;
}

#nav-links {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-left: 0;
    width: 100%;
}

.nav-element {
    width: 100%;
}

.nav-element:hover {
    background-color: var(--highlight);
    color: var(--background-dark);
    transition: 0.5s;
}

#fire-alert {
    background-color: red;
    border: 2px solid darkred;
    color: darkred;
    border-radius: 50%;
    opacity: 30%;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    width: 5rem;
}

#fire-alert:hover {
    opacity: 100%;
    transition: 0.3s;
}

.content-body {
    grid-area: body;
    padding: 0 4%;
    margin: 0 auto;
}

.content-body > img {
    float: right;
    width: 30rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 10px;

}

.section-title {
    width: 100%;
    border-bottom: 3px solid var(--highlight);
    clear: both;
}

.section-paragraph {
    width: 100%;
    font-family: Verdana, Tahoma, sans-serif;
}

aside {
    width: 10em;
    text-align: center;
    border: 2px solid var(--background-light);
    border-radius: 10px;
    padding: 1rem;
    float: left;
    margin-right: 1rem;
    overflow: auto;
}

aside:nth-of-type(even) {
    float: right;
}

.external-link {
    color: var(--highlight);
    background-color: var(--background-light);
    border-radius: 50px;
    padding: 1rem;
    width: max-content;
    margin: auto;
}

table {
    width: 80%;
    border: 2px solid var(--background-dark);
    margin: auto;
}

tr:nth-child(even) {
    background-color: var(--background-light);
}

th {
    background-color: var(--highlight);
}

tr:hover {
    background-color: var(--background-dark);
    color: var(--font-light);
}

th, td {
    text-align: center;
    border: 1px solid var(--background-light)
}

#contact-form {
    width: 80%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid var(--background-light);
    background-color: var(--background-dark);
    color: var(--font-light);
    margin-bottom: 3em;
}

#contact-form > input[type= "submit"] {
    background-color: var(--background-light);
    color: var(--background-dark);
    font-size: 20px;
    width: 40%;
    margin: auto;
    padding: 0.5rem;
}

#contact-form > input {
    border: none;
}